<h1>Update Product</h1>
<% if(errorMassages){%>
<div class="alert alert-danger" role="alert">
  <% for(let error of errorMassages){ %>
  <li><%= error.msg %></li>
  <%}%>
</div>
<%}%>
<!---->
<form action="/update-product" method="post" enctype="multipart/form-data">
  <input
    type="text"
    class="form-control"
    id="name"
    name="id"
    value="<%= product.id %>"
    hidden
  />
  <!-- For Receive the ID to Controller -->
  <input
    type="text"
    class="form-control"
    id="name"
    name="id"
    value="<%= product.id %>"
    disabled
  />
  <!-- For Render the ID at the User End -->
  <div class="mb-3">
    <label for="name" class="form-label">Product Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      value="<%= product.name %>"
    />
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Product Description</label>
    <textarea class="form-control" id="description" name="description" rows="3">
<%= product.description %></textarea
    >
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input
      type="number"
      class="form-control"
      id="price"
      name="price"
      step="0.01"
      value="<%= product.price %>"
    />
  </div>
  <div class="mb-3">
    <label for="imageUrl" class="form-label">Image URL</label>
    <input
      type="file"
      class="form-control"
      id="imageURL"
      name="imageURL"
      value="<%= product.imageURL %>"
    />
  </div>
  <button type="submit" class="btn btn-primary">Add Product</button>
</form>
