<link rel="stylesheet" href="/css/jobs.css" />
<main class="container">
  <% if(jobs.length > 0){%>
  <div class="row pt-3">
    <% for(let job of jobs){ %>
    <div class="col-sm-6 col-md-4 mb-3">
      <div class="card bg-transparent border-white">
        <div class="card-header m-3 border border-success rounded text-white">
          <span class="hiring-trend">Actively Hiring &nbsp;</span>
          <span class="trend-icon text-success"
            ><i class="fa-solid fa-arrow-trend-up"></i
          ></span>
        </div>
        <div class="card-body">
          <h5 class="card-title text-warning"><%= job.companyName %></h5>
          <div class="card-text">
            <div class="job-type">
              <span class="type text-white"><%= job.jobType %></span>
              <span class="post text-info"><%= job.post %></span>
            </div>
            <div class="job-location text-white mt-3">
              <span><i class="fa-solid fa-location-dot">&nbsp;</i></span>
              <span><%= job.location %></span>
            </div>
            <div class="job-salary text-white">
              <span><i class="fa-solid fa-indian-rupee-sign">&nbsp;</i></span>
              <span><%= job.salaryRange %></span>
            </div>
            <div class="skills mt-2 mb-2">
              <% for(let skill of job.skills){%>
              <button type="button" class="btn btn-outline-info m-1">
                <%= skill %>
              </button>
              <%}%>
            </div>
            <a href="/job/<%=job.id%>" class="btn btn-outline-success col-12">View Details</a>
          </div>
        </div>
      </div>
    </div>
    <%}%>
  </div>
  <%}%>
</main>
