
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- This Angular Bracket Represent that this is Beggining of Dynamic Content -->
            <!--EJS Allows you to Use javascript into the HTML and Convert Js Content into the HTML Content-->
            <% products.forEach((product)=>{ %>
            <!-- 
              We Not Write Equal sign because we Equal Sign Means we want to render 
              it on Browser but We Didn't want to Render Loop Statement on Broswer
            -->
            <th><%= product.id %></th>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td scope="col"><%= product.price %></td>
            <td><img src="<%= product.imageURL %>"/></td>
          </tr>
          <% }) %>
          <!-- Not Require Multiple Rows Because We Use Only One Row and Put that one Row into the Loop
          <tr>
            <th>2</th>
            <td>Ikigai</td>
            <td>The Japanese secret to a long and happy life</td>
            <td scope="col">340</td>
            <td>
              <img
                src="https://m.media-amazon.com/images/I/51xwGSNX-EL._SX356_BO1,204,203,200_.jpg"
              />
            </td>
          </tr>
          <tr>
            <th>3</th>
            <td>Deep Work</td>
            <td>RULES FOR FOCUSED SUCCESS IN A DISTRACTED WORLD</td>
            <td scope="col">280</td>
            <td>
              <img
                src="https://m.media-amazon.com/images/I/31PBdo581fL._SX317_BO1,204,203,200_.jpg"
              />
            </td>
          </tr>
           -->
        </tbody>
      </table>
    </div>
    